@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:rgb(27, 21, 21);
  --textColor:rgb(245, 220, 220);

}

.flexP{
  flex: 1.2;
}
.flexCustomDashboard{
flex:3.5;
}

@media screen and (max-width:1024px) {
  .flexCustomDashboard{
    width: 100%;
    }
}

.stickyTop{
  position: fixed;
  /* top: calc(100vh - 48px); */
  bottom: 0;
  width: 100%;
}
.anime{
  position: relative;
}
.anime::after{
  content: "";
  width: 100%;
  height : 3px;
  background: #858585 ;
  opacity: 75%;
  position: absolute;
  left: 0;
  bottom:-9px;
  transition: 0s;
}
.animeBlue{
  position: relative;
}
.animeBlue::after{
  content: "";
  width: 100%;
  height : 3px;
  
  background: black ;
  position: absolute;
  left: 0;
  bottom:-8px;
  transition: 0s;
}